/* Blog details styling */
.blog-details {
    width: 100%;
    background: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  }
  .blog-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
  }
  .blog-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
  }
  .blog-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: #f1f1f1;
    padding: 6px;
    border-radius: 50%;
    color: #333;
  }
  
  .reactions-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .upvoteBtn, .downvoteBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s ease;
  }
  
  .upvoteBtn:hover {
    color: #168f6c;
  }  
  
  .downvoteBtn:hover {
    color: #c82333;
  }

  
  .upvoteBtn:active {
    color: #999999;
  }  
  
  .downvoteBtn:active {
    color: #999999;
  }

  
  .blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .DeleteBtn {
    padding: 6px;
    border: none;
    background-color: #383838;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .deleteBtn:hover {
    background-color: #5a5152;
  
  }
  