.add-blog-button {
    background-color: #007bff; /* Ensure this matches your desired color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.add-blog-button:hover {
    background-color: #3498db; /* Ensure this matches your desired color */

}
.create label {
    display: block;
    margin-top: 10px; /* Add space above the label */
    margin-bottom: 5px; /* Add space below the label */
}

.image-upload{
    margin-bottom: 30px;
}