/* src/components/Navbar.css */

.navbar {
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-title {
  margin: 0;
  font-size: 2.5em; /* Increase font size if desired */
  color: #1a1a1a; /* Change this to your preferred color */
  font-family: 'Merriweather', serif; /* Apply a classic font (Ensure it's imported in your main CSS file) */
  text-transform: uppercase; /* Optional: transform text to uppercase */
  letter-spacing: 2px; /* Optional: add letter spacing for a more distinct look */
}

.navbar-buttons {
  margin-top: 10px;
  display: flex;
  gap: 30px; /* Increase spacing between buttons */
}

.navbar-buttons a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar-buttons a:hover {
  color: var(--primary);
}
