.footer {
  background-color: black; /* Dark background color */
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Space between text and icons */
 
}

.footer p {
  margin: 0;
  padding: 0;
}

.navbar-social {
  display: flex;
  align-items: center;
}

.social-icon {
  font-size: 40px; /* Increased size */
  margin: 0 10px;
  color: #fff !important; /* Force icons to be white */
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #007bff !important; /* Lighter blue on hover */
}

