.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1px 0; /* Reduced vertical padding for a smaller footer */
}

.footer-content {
  margin: 0;
}

.footer p {
  margin: 0;
  font-size: 0.9em; /* Reduced font size for smaller text */
}

.navbar-social {
  display: flex;
  justify-content: center; /* Center icons horizontally */
  margin-top: 5px; /* Reduced space between text and icons */
}

.social-icon {
  font-size: 24px; /* Reduced size for icons */
  margin: 0 8px; /* Reduced space between icons */
  color: #fff; /* Force icons to be white */
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #007bff; /* Lighter blue on hover */
}
