.footer {
    background-color: #2E4053 !important; /* Dark blue color */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
    padding: 10px 10px 10px 0;
  }
  
  .navbar-social {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .social-icon {
    font-size: 40px; /* Increased size */
    margin: 0 10px;
    color: #fff !important; /* Force icons to be white */
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #206BA4 !important; /* Lighter blue on hover */
  }
  